<link rel="import" href="../../../components/cells-page/cells-page.html">
<link rel="import" href="../../../components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../../components/cells-credentials-form/cells-credentials-form.html">
<link rel="import" href="../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../../components/cells-grid-template/cells-grid-template-styles.html">
<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/cells-notifications/cells-notifications.html">
<link rel="import" href="../../../components/cells-molecule-spinner-veil/cells-molecule-spinner-veil.html">
<link rel="import" href="../../../components/easy-money-header/easy-money-header.html">

<dom-module id="login-page">
  <template>
    <style include="cells-grid-template-styles"></style>
    <style include="login-page-styles"></style>
    <cells-template-paper-drawer-panel mode="seamed">
      <div slot="app__header">
        <div class="cgt grid">
          <div class="cgt-col-xs-4 cgt-col-sm-8 cgt-col-md-12 cgt-col-lg-12">
            <easy-money-header
              user="{{user}}"
              title="Login"
              on-logout-user="_handleLogoutUser"
              on-logout-user-error="_handleLogoutUserError"
              on-edit-user="_handleEditUser"
              on-back="_handleBack"
              back="coronita:back"
              loading="{{loading}}">
            </easy-money-header>
          </div>
        </div>
       </div>
      <div slot="app__main" class="container">
        <div class="cgt grid">
            <template is="dom-if" if="{{loading}}">
                  <cells-molecule-spinner-veil open></cells-molecule-spinner-veil>
            </template>
            <div class="cgt-col-xs-4
                        cgt-col-sm-4 cgt-col-sm-ml-2
                        cgt-col-md-4 cgt-col-md-ml-4
                        cgt-col-lg-4 cgt-col-lg-ml-4">
              <br/>
              <br/>
              <cells-credentials-form id="loginform"
                autofocus
                register
                heading-level = "2"
                label-user-id ="Email"
                clear-id-icon="coronita:close"
                clear-pwd-icon="coronita:close"
                toggle-pwd-icon="coronita:visualize"
                toggle-pwd-icon-toggled="coronita:hide"
                on-login="_handleLogin"
                on-request-register="_handleRegister"
                on-request-change-user="_handleChangeUser"
                on-request-password-recover="_handlerPasswordRecover"
                user-name="[[user.firstName]]"
                user-id="[[user.email]]">
              </cells-credentials-form>
            </div>
            <div class="cgt-col-xs-4
                          cgt-col-sm-8
                          cgt-col-md-12
                          cgt-col-lg-12">
                <cells-notifications hidden$="{{!error}}" class="with-border error"
                  message="{{msg}}"
                  heading-message="Ups!! Ha habido un problema.."
                  on-notification-button-clicked="_handleNotificationButtonClicked">
                </cells-notifications>
            </div>
        </div>
        <cells-generic-dp
            id="logindp"
            path="easymoney/v1/login"
            handle-as="json"
            method="POST"
            on-request-success="_handleRequestSuccess"
            on-request-error="_handleRequestError"
            >
        </cells-generic-dp>
      </div>
    </cells-template-paper-drawer-panel>
  </template>
  <script src="login-page.js"></script>
</dom-module>
