<link rel="import" href="../../../components/cells-page/cells-page.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../../components/cells-grid-template/cells-grid-template-styles.html">
<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html">
<link rel="import" href="../../../components/cells-product-item-list/cells-product-item-list.html">
<link rel="import" href="../../../components/easy-money-header/easy-money-header.html">
<link rel="import" href="../../../components/easy-money-user-form/easy-money-user-form.html">
<link rel="import" href="../../../components/cells-notifications/cells-notifications.html">
<link rel="import" href="../../../components/cells-molecule-spinner-veil/cells-molecule-spinner-veil.html">

<dom-module id="user-page">
  <template>
    <style include="user-page-styles"></style>
    <style include="cells-grid-template-styles"></style>
    <cells-template-paper-drawer-panel mode="seamed">
      <div slot="app__header">
        <div class="cgt grid">
          <div class="cgt-col-xs-4 cgt-col-sm-8 cgt-col-md-12 cgt-col-lg-12">
            <easy-money-header
              user="{{user}}"
              title="Usuario"
              on-logout-user="_handleLogoutUser"
              on-logout-user-error="_handleLogoutUserError"
              on-edit-user="_handleEditUser"
              loading="{{loading}}">
            </easy-money-header>
          </div>
        </div>
       </div>
      <div slot="app__main" class="container">
        <div class="cgt grid">
          <template is="dom-if" if="{{error}}">
            <div class="cgt-col-xs-4
                          cgt-col-sm-8
                          cgt-col-md-12
                          cgt-col-lg-12">
                <cells-notifications hidden$="{{!error}}" class="with-border error"
                  message="{{msg}}"
                  heading-message="Ups!! Ha habido un problema.."
                  on-notification-button-clicked="_handleNotificationButtonClicked">
                </cells-notifications>
            </div>
          </template>
          <template is="dom-if" if="{{loading}}">
                <cells-molecule-spinner-veil open></cells-molecule-spinner-veil>
          </template>
          <div class="cgt-col-xs-4 cgt-col-sm-6 cgt-col-md-8 cgt-col-lg-8
                      cgt-col-lg-ml-2 cgt-col-lg-mr-2
                      cgt-col-md-ml-2 cgt-col-md-mr-2
                      cgt-col-sm-ml-1 cgt-col-sm-mr-1">
            <easy-money-user-form id="easymoneyuserform"
              first-name="[[user.firstName]]"
              last-name="[[user.lastName]]"
              email="[[user.email]]"
              password="[[user.password]]"
              gender="[[user.gender]]"
              avatar="[[user.avatar]]"
              user-id="[[user.id]]"
              on-edit-user-ok="_handleEditUserOk"
              on-edit-user-error="_handleEditUserError"
              on-add-user-ok="_handleAddUserOk"
              on-add-user-error="_handleAddUserError"
              on-edit-user-cancel="_handleEditUserCancel"
              loading={{loading}}>
            </easy-money-user-form>
          </div>
        </div>
      </div>
    </cells-template-paper-drawer-panel>
  </template>
  <script src="user-page.js"></script>
</dom-module>
