<dom-module id="user-page-styles"><template><style>
  cells-template-paper-drawer-panel {
     opacity: 1;
     background-color:#ffffff;
     --cells-template-paper-drawer-panel-header: {
       background-color: rgba(0, 0, 0, 1);
       border-bottom: 1px solid rgba(180, 192, 227, 1);
       min-height: 60px;
       /*display: flex;*/
       justify-content: center;
       align-items: center;
     }
     --cells-template-paper-drawer-panel-main: {
       padding: 0 1em;
       box-sizing: border-box;
       background-color: rgba(255, 255, 255, 1);
       color: blue;
       --easy-money-user-form: {
         padding: 1em 1em;
         box-sizing: border-box;
         background-color: rgba(0, 0, 0, 1);
         color: blue;
       }
     }
   }
</style></template></dom-module>
