<link rel="import" href="../../../components/cells-page/cells-page.html">
<link rel="import" href="../../../components/cells-component-app-header/cells-component-app-header.html">
<link rel="import" href="../../../components/cells-credentials-form/cells-credentials-form.html">
<link rel="import" href="../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../../components/cells-grid-template/cells-grid-template-styles.html">
<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">

<dom-module id="home-page">
  <template>
    <style is="custom-style">
    div.easymoneybackground {
       width:auto; /*width of your image*/
       height:675px; /*height of your image*/
       background-image:url('/easymoneybank/resources/images/money-plants.jpg');
       margin:0; /* If you want no margin */
       padding:0; /*if your want to padding */
    }
      cells-template-paper-drawer-panel {
         opacity: 1;
         background-color:#ffffff;
         --cells-template-paper-drawer-panel-header: {
           background-color: rgba(0, 0, 0, 1);
           border-bottom: 1px solid rgba(180, 192, 227, 1);
           min-height: 60px;
           /*display: flex;*/
           justify-content: center;
           align-items: center;
         }
      }
       cells-component-app-header {
         --cells-component-app-header-bg-color: #000000;
       }
     </style>
    <style include="cells-grid-template-styles"></style>
    <cells-template-paper-drawer-panel mode="seamed">
      <div slot="app__header">
        <div class="cgt grid">
          <div class="cgt-col-xs-4 cgt-col-sm-8 cgt-col-md-12 cgt-col-lg-12">
            <cells-component-app-header
              text="Easy Money Bank"
              icon-right="coronita:on"
              on-right-button-pressed="_handleLoginButtonPressed">
            </cells-component-app-header>
          </div>
        </div>
      </div>

      <div slot="app__main" class="container">
        <div class="cgt grid">
          <div class="cgt-col-xs-4 cgt-col-sm-8 cgt-col-md-12 cgt-col-lg-12">
            <div class="easymoneybackground">&nbsp;</div>
          </div>
        </div>
      </div>

    </cells-template-paper-drawer-panel>
  </template>
  <script>
    {
      const CellsPage = customElements.get('cells-page');

      class HomePage extends CellsPage {
        static get is() {
          return 'home-page';
        }

        static get properties() {
          return {
            headerTitle: {
              type: String,
              value: 'This the home page!'
            }
          };
        }

        onPageEnter() { 
        }

        onPageLeave() {
        }

        _handleLoginButtonPressed(evt) {
          this.navigate('login');
        }
      }
      window.customElements.define(HomePage.is, HomePage);
    };
  </script>
</dom-module>
