<link rel="import" href="../../../components/cells-page/cells-page.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../../components/cells-grid-template/cells-grid-template-styles.html">
<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html">
<link rel="import" href="../../../components/cells-product-item-list/cells-product-item-list.html">
<link rel="import" href="../../../components/easy-money-header/easy-money-header.html">
<link rel="import" href="../../../components/cells-notifications/cells-notifications.html">
<link rel="import" href="../../../components/cells-molecule-spinner-veil/cells-molecule-spinner-veil.html">

<dom-module id="accounts-page">
  <template>
    <style include="accounts-page-styles"></style>
    <style include="cells-grid-template-styles"></style>
    <cells-template-paper-drawer-panel mode="seamed">
      <div slot="app__header">
        <div class="cgt grid">
          <div class="cgt-col-xs-4 cgt-col-sm-8 cgt-col-md-12 cgt-col-lg-12">
            <easy-money-header
              user="{{user}}"
              title="Hola [[user.firstName]]!!!"
              on-logout-user="_handleLogoutUser"
              on-logout-user-error="_handleLogoutUserError"
              on-edit-user="_handleEditUser"
              loading="{{loading}}">
            </easy-money-header>
          </div>
        </div>
       </div>
      <div slot="app__main" class="container">
        <div class="cgt grid">
          <template is="dom-if" if="{{error}}">
            <div class="cgt-col-xs-4
                          cgt-col-sm-8
                          cgt-col-md-12
                          cgt-col-lg-12">
                <cells-notifications hidden$="{{!error}}" class="with-border error"
                  message="{{msg}}"
                  heading-message="Ups!! Ha habido un problema.."
                  on-notification-button-clicked="_handleNotificationButtonClicked">
                </cells-notifications>
            </div>
          </template>
          <template is="dom-if" if="{{loading}}">
                <cells-molecule-spinner-veil open></cells-molecule-spinner-veil>
          </template>
          <div class="cgt-col-xs-4 cgt-col-sm-8 cgt-col-md-12 cgt-col-lg-12">
            <cells-product-item-list id="productitemlist" header="CUENTAS" on-product-item-tap="_handleProductItemTap" heading-level="2">
              <cells-molecule-skeleton slot="loader" skeleton-type="account-list" class$="[[_computeClass(dataLoading)]]"></cells-molecule-skeleton>
            </cells-product-item-list>
          </div>
          <div class="cgt-col-xs-2 cgt-col-sm-2 cgt-col-md-2 cgt-col-lg-2">
            <cells-st-button on-click="_handleAddAccountClick" class="primary composed size-xs">
              <button>
                <span class="btn-contents">
                  <cells-atom-icon class="btn-icon icon-size-24" icon="coronita:add"></cells-atom-icon>
                  <span class="btn-text">Contratar</span>
                </span>
              </button>
            </cells-st-button>
          </div>
        </div>
        <br/>
      </div>
    </cells-template-paper-drawer-panel>

    <cells-generic-dp
        id="accountsdp"
        host="http://localhost:3010"
        path="easymoney/v1/users/[[user.id]]/accounts"
        handle-as="json"
        method="GET"
        on-request-success="_handleRequestAccountsSuccess"
        on-request-error="_handleRequestAccountsError">
    </cells-generic-dp>
  </template>
  <script src="accounts-page.js"></script>
</dom-module>
