<dom-module id="accounts-page-styles"><template><style>
  :host {
    --cells-st-button-primary-hover: {
      background-color: #000;
      color: #fff;
    };
    .btn-contents: {
      background-color: #000;
      color: #fff;
    }
  }
</style></template>
</dom-module>
