<dom-module id="movements-page-styles"><template><style>
  :host{
    --cells-operations-list-list__link-grid: {
      padding: 0.5rem 0rem;
    }; 
  };
  
  :host([layout="grid"]) {
    --cells-operations-list-list__link-grid: {
        padding: 0.5rem 0rem;
    };
  }
  
</style></template>
</dom-module>
