<link rel="import" href="../../../components/cells-page/cells-page.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../../components/cells-grid-template/cells-grid-template-styles.html">
<link rel="import" href="../../../components/cells-generic-dp/cells-generic-dp.html">
<link rel="import" href="../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html">
<link rel="import" href="../../../components/cells-product-item-list/cells-product-item-list.html">
<link rel="import" href="../../../components/easy-money-header/easy-money-header.html">
<link rel="import" href="../../../components/cells-movements-list-item/cells-movements-list-item.html">
<link rel="import" href="../../../components/cells-operations-list/cells-operations-list.html">
<link rel="import" href="../../../components/cells-notifications/cells-notifications.html">
<link rel="import" href="../../../components/cells-molecule-spinner-veil/cells-molecule-spinner-veil.html">

<dom-module id="movements-page">
  <template>
    <style include="movements-page-styles"></style>
    <style include="cells-grid-template-styles"></style>
    <cells-template-paper-drawer-panel mode="seamed">
      <div slot="app__header">
        <div class="cgt grid">
          <div class="cgt-col-xs-4 cgt-col-sm-8 cgt-col-md-12 cgt-col-lg-12">
            <easy-money-header
              user="{{user}}"
              title="Movimientos"
              back="coronita:back"
              on-logout-user="_handleLogoutUser"
              on-logout-user-error="_handleLogoutUserError"
              on-edit-user="_handleEditUser"
              on-back="_handleBack"
              loading="{{loading}}">
            </easy-money-header>
          </div>
        </div>
       </div>
      <div slot="app__main" class="container">
        <div class="cgt grid">
          <template is="dom-if" if="{{error}}">
            <div class="cgt-col-xs-4
                          cgt-col-sm-8
                          cgt-col-md-12
                          cgt-col-lg-12">
                <cells-notifications hidden$="{{!error}}" class="with-border error"
                  message="{{msg}}"
                  heading-message="Ups!! Ha habido un problema.."
                  on-notification-button-clicked="_handleNotificationButtonClicked">
                </cells-notifications>
            </div>
          </template>
          <template is="dom-if" if="{{loading}}">
                <cells-molecule-spinner-veil open></cells-molecule-spinner-veil>
          </template>
          <div class="cgt-col-xs-4 cgt-col-sm-8 cgt-col-md-12 cgt-col-lg-12">
            <cells-product-item
              heading-level="2"
              name="{{_account.name}}"
              description="{{_account.description}}"
              primary-amount="{{_account.primaryAmount}}"
              img-src="{{_account.imgSrc}}"
              on-tap="_onItemTap">
            </cells-product-item>
            <cells-operations-list
              operations="[[operations]]"
              on-operation-click="_handleOperationClick"
              on-view-more="_handleMoreOperationClick"
              icon-size="20"
              limit="5"
              view-more>
            </cells-operations-list>
          </div>
          <div class="cgt-col-xs-4 cgt-col-sm-8 cgt-col-md-12 cgt-col-lg-12">
            <template id="movementslist" is="dom-repeat" as="movement">
              <cells-movements-list-item id="movementlistitem"
                date-format="DD/MM/YYYY"
                date="[[movement.date]]"
                currency-code="EUR"
                local-currency="EUR"
                label="[[movement.label]]"
                category="[[movement.categoryIcon]]"
                category-description="[[movement.categoryDescription]]"
                parsed-amount="[[movement.parsedAmount]]"
                parsed-accounting-balance="[[movement.parsedAccountingBalance]]"
                badges="[[movement.badges]]"
                on-tap="_handleMovementsListItemTap">
              </cells-movements-list-item>
            </template>
          </div>
        </div>
      </div>
    </cells-template-paper-drawer-panel>
    <cells-generic-dp
        id="movementsdp"
        host="http://localhost:3010"
        path="easymoney/v1/accounts/[[account.id]]/movements"
        handle-as="json"
        method="GET"
        on-request-success="_handleRequestMovementsSuccess"
        on-request-error="_handleRequestMovementsError"
        >
    </cells-generic-dp>
  </template>
  <script src="movements-page.js"></script>
</dom-module>
