<link rel="import" href="../../../components/cells-page/cells-page.html">
<link rel="import" href="../../../components/coronita-icons/coronita-icons.html">
<link rel="import" href="../../../components/cells-grid-template/cells-grid-template-styles.html">
<link rel="import" href="../../../components/cells-template-paper-drawer-panel/cells-template-paper-drawer-panel.html">
<link rel="import" href="../../../components/easy-money-header/easy-money-header.html">
<link rel="import" href="../../../components/cells-notifications/cells-notifications.html">
<link rel="import" href="../../../components/cells-molecule-spinner-veil/cells-molecule-spinner-veil.html">
<link rel="import" href="../../../components/easy-money-forgot-form/easy-money-forgot-form.html">

<dom-module id="forgot-page">
  <template>
    <style include="forgot-page-styles"></style>
    <style include="cells-grid-template-styles"></style>
    <cells-template-paper-drawer-panel mode="seamed">
      <div slot="app__header">
        <div class="cgt grid">
          <div class="cgt-col-xs-4 cgt-col-sm-8 cgt-col-md-12 cgt-col-lg-12">
            <easy-money-header
              title="Contraseña"
              loading="{{loading}}">
            </easy-money-header>
          </div>
        </div>
      </div>
      <div slot="app__main" class="container">
        <div class="cgt grid">
          <template is="dom-if" if="{{loading}}">
                <cells-molecule-spinner-veil open></cells-molecule-spinner-veil>
          </template>
          <div class="cgt-col-xs-4 cgt-col-sm-6 cgt-col-md-8 cgt-col-lg-8
                      cgt-col-lg-ml-2 cgt-col-lg-mr-2
                      cgt-col-md-ml-2 cgt-col-md-mr-2
                      cgt-col-sm-ml-1 cgt-col-sm-mr-1">
            <easy-money-forgot-form id="easymoneyforgotform"
              on-forgot-ok="_handleForgotOk"
              on-forgot-error="_handleForgotError"
              on-forgot-cancel="_handleForgotCancel"
              loading={{loading}}>
            </easy-money-user-form>
          </div>
        </div>
      </div>

      <div slot="app__footer" class="container">
        <div class="cgt grid">
          <template is="dom-if" if="{{error}}">
            <div class="cgt-col-xs-4
                          cgt-col-sm-8
                          cgt-col-md-12
                          cgt-col-lg-12">
                <cells-notifications hidden$="{{!error}}" class="with-border error"
                  message="{{msg}}"
                  heading-message="Ups!! Ha habido un problema.."
                  on-notification-button-clicked="_handleNotificationButtonClicked">
                </cells-notifications>
            </div>
          </template>
        </div>
      </div>
    </cells-template-paper-drawer-panel>
  </template>
  <script src="forgot-page.js"></script>
</dom-module>
